.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.container {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2.2rem 3rem;
  width: 100%;
  /* Different from other form */
  width: 48rem;
  margin: 8rem auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* sign in with email */
.container form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container form .row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container form .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.link {
  color: var(--color-light--2);
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  text-transform: capitalize;
}

.link:hover {
  color: var(--color-brand--2);
}

.container p {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 2rem;
  text-transform: capitalize;
}

/* sign in with google */
.googleButton {
  align-self: center;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.googleButton img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}
